
        <section class="skills hys container-fluid p-4 cont100">
            <h1 class="skillsText pt-4 mt-4 mb-4 pb-4 text-md-start text-center">Hard & Soft Skills</h1>
            <div class=" container d-md-flex align-items-center pt-md-4 mt-md-4">
                    <div class="skillsItem pt-md-4 mt-md-4 container-md d-flex justify-content-center">
                        <div class="chartContainer pt-md-4 mt-md-4">
                            <canvas id="soft" ></canvas>
                        </div>
                    </div>

                    <div class="skillsItem container-md pt-md-4 mt-md-4 d-flex justify-content-center">
                        <div class="chartContainer pt-md-4 mt-md-4">
                            <canvas id="hard" ></canvas>
                        </div>
                    </div>
            </div>
        </section>
        